* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-body: #060809;
    --bg-btn-singup-login-sec3: #ffffff;
    --bg-cards: #1b1c20;
    --bg-header-sec1-footer1: #060809;
    --bg-btn-new-fundo-e-text: #7f56d9;
    --bg-btn-section-1: #f9f5ff;
    --troca-cor-letras: white;

    --color-purple: #712fff;
    --color-h1: #ffffff;
    --color-p: #e7e7e7;
    --color-p-sec2: #e7e7e7;
    --color-p-sec3: #b8b8b8;
    --color-text-btn: #1b1c20;
    --color-btn-new-fundo-e-text: #f9f5ff;

    --fill-color-redes-sociais-desktop: #B8B8B8;
    --fill-color-redes-sociais-mobile: #FFFFFF;
    --box-shadow: 0px 1.98641px 3.97282px rgba(68, 55, 0, 0.01),
        0px 99.3206px 174.804px rgba(68, 55, 0, 0.02),
        0px 45.6875px 80.4497px rgba(68, 55, 0, 0.01),
        0px 25.8233px 45.6875px rgba(68, 55, 0, 0.01),
        0px 15.8913px 27.8098px rgba(68, 55, 0, 0.01),
        0px 8.93885px 16.8845px rgba(68, 55, 0, 0.01),
        0px 5.95923px 8.93885px rgba(68, 55, 0, 0.01),
        0px 1.98641px 3.97282px rgba(68, 55, 0, 0.01);
}

.dark-mode:root {
    --bg-body: #060809;
    --bg-btn-singup-login-sec3: #ffffff;
    --bg-cards: #1b1c20;
    --bg-header-sec1-footer1: #060809;
    --bg-btn-new-fundo-e-text: #7f56d9;
    --bg-btn-section-1: #f9f5ff;
    --troca-cor-letras: white;

    --color-purple: #712fff;
    --color-h1: #ffffff;
    --color-p: #e7e7e7;
    --color-p-sec2: #e7e7e7;
    --color-p-sec3: #b8b8b8;
    --color-text-btn: #1b1c20;
    --color-btn-new-fundo-e-text: #f9f5ff;

    --fill-color-redes-sociais-desktop: #B8B8B8;
    --fill-color-redes-sociais-mobile: #FFFFFF
}

.light-mode:root {
    --bg-body: #ffffff;
    --bg-btn-singup-login-sec3: #0F0F14;
    --bg-cards: #ffffff;
    --bg-header-sec1-footer1: #faf8f5;
    --bg-btn-new-fundo-e-text: #ffffff;
    --troca-cor-letras: black;

    --color-h1: #1b1c20;
    --color-p: #383a47;
    --color-p-sec2: #797b89;
    --color-p-sec3: #797b89;
    --color-text-btn: #ffffff;
    --color-btn-new-fundo-e-text: #6941c6;

    --fill-color-redes-sociais-desktop: #383A47;
    --fill-color-redes-sociais-mobile: #383A47
}


body,
header {
    background-color: var(--bg-body);
}

span {
    color: var(--color-purple);
}