/* FOOTER 2 */
@media screen and (min-width: 1440px) {
    .footer-2 {
        width: 1440px;
        height: 128px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 48px 0px;
        gap: 64px;
        background-color: var(--bg-body);
    }

    .container-footer-2 {
        width: 1280px;
        height: 32px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 32px;
        gap: 32px;
    }

    .container-2 {
        width: 1216px;
        height: 32px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
    }

    .redes-sociais {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 24px;
        border-top: none;
        order: 1;
    }



    .rede-social {
        fill: var(--fill-color-redes-sociais-mobile);
    }

    .copyright {
        width: 348px;
        height: 24px;
        text-align: right;
        order: 3;
    }

    .copyright p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
    }
}