/* SECTION 1 */
@media screen and (min-width: 1440px) {
    .section-1 {
        width: 1440px;
        height: 767px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 64px 0px 96px;
        gap: 64px;
    }

    .container-sec-1 {
        width: 1280px;
        height: 607px;
        display: flex;
        flex-direction: row;
        padding: 80px 32px;
        justify-content: space-between;
    }

    .text-sec-1 {
        width: 579px;
        height: 402px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 102px 0px;
        padding: 0px;
        gap: 32px;
    }

    /* section1-titulo */
    .head-sec-1 {
        width: 257px;
        height: 32px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 4px 10px 4px 4px;
        gap: 12px;
        border-radius: 16px;
        border: none;
    }

    .btn-new {
        width: 53px;
        height: 24px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2px 10px;
        border-radius: 16px;
        border: none;
    }

    .head-sec-1 a {
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        text-decoration: none;
    }

    .setinha {
        width: 9px;
        height: 9px;
    }

    .text-sec-1 {
        width: 489px;
        height: 177px;
        top: 48px;
    }

    .text-sec-1 h1 {

        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 59px;
    }

    /* section1-paragrafo */

    .paragrafo-sec-1 p {
        width: 480px;
        height: 60px;
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
    }

    .cards-sec-1 img {
        width: 605px;
        height: 607px;
        display: block;
    }

    /* section1-botoes */
    .botoes-sec-1 {
        width: 372px;
        height: 61px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 15px;
    }

    .btn-apple-store {
        width: 179px;
        height: 61px;
        display: block;
        justify-content: center;
        border-radius: 13px;
        border: none;
    }

    .btn-apple-store img {
        width: 134px;
        height: 31px;
    }

    .btn-play-store {
        width: 178px;
        height: 60px;
        display: block;
        justify-content: center;
        border-radius: 13px;
        border: none;
    }

    .btn-play-store img {
        width: 148px;
        height: 31px;
    }

    /* cads da direita */
    .cards-sec-1 {
        width: 608px;
        height: 607px;
        display: flex;
    }
}