* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 1440px;
    background-color: #060809;
}


/* cores */
.text-white {
    color: #fff;
}

.text-purple {
    color: #712FFF;
}

.text-white-gray {
    color: #E7E7E7;
}