@media screen and (min-width: 375px) {

    /* HEADER */
    .header {
        position: fixed;
        width: 375px;
        height: auto;
        background-color: var(--bg-header-sec1-footer1);
    }

    .container-h {
        width: auto;
        height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 14px 20px;
        gap: 291px;
    }

    .uniao-logo-home {
        width: 335px;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 35px;
    }

    .logo-cadena {
        width: 125.23px;
        height: 30px;
    }

    .muda-cor-logo {
        fill: var(--troca-cor-letras);
    }

    .btn-muda-modo {
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        gap: 12px;
        border: none;
    }

    .muda-dark-modo,
    .muda-light-modo {
        width: 35px;
        height: 35px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: #F9F5FF;
        box-shadow: var(--box-shadow);
        cursor: pointer;
        order: 2;
    }

    .moon,
    .sun {
        width: 25px;
        height: 25px;
        display: block;
    }

    .menu-vm {
        display: block;
        order: 3;
    }

    .menu-cadena {
        width: 205px;
        height: 24px;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 4px 0;
        padding: 0px;
        gap: 32px;

    }

    .menu-cadena a {
        display: none;
    }

    .btn-login {
        display: none;
    }

    .btn-log-in {
        display: none;
    }

    .btn-sign-up {
        display: none;
    }

    /* SECTION 1 */
    .section-1 {
        width: 375px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 32px 70px;
        gap: 64px;
        background-color: var(--bg-header-sec1-footer1);
    }

    .container-sec-1 {
        width: 335px;
        height: auto;
        display: flex;
        flex-direction: column;
        padding: 0 20px;
    }

    .text-sec-1 {
        width: 335px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 64px 0px;
        padding-top: 50px;
        gap: 32px;
    }

    /* section1-titulo */
    .head-sec-1 {
        width: 257px;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 4px 10px 4px 4px;
        gap: 12px;
        border-radius: 16px;
        border: none;
        background-color: #F9F5FF;

    }

    .btn-new {
        width: 53px;
        height: 24px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 2px 10px;
        border-radius: 16px;
        border: none;
        background-color: var(--bg-btn-new-fundo-e-text);
        color: var(--color-btn-new-fundo-e-text);
    }


    .btn-new a {
        background-color: var(--bg-btn-section-1);
    }

    .head-sec-1 a {
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        text-decoration: none;
        color: #7F56D9;
    }

    .setinha {
        width: 9px;
        height: 9px;
    }

    .text-sec-1 {
        width: 335px;
        height: auto;
        top: 48px;
    }

    .text-sec-1 h1 {

        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 43px;
        color: var(--color-h1);
    }

    /* section1-paragrafo */

    .paragrafo-sec-1 p {
        width: 335px;
        height: 60px;
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        color: var(--color-p);
    }

    /* section1-botoes */
    .botoes-sec-1 {
        width: 305px;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
        gap: 15px;
    }

    .btn-apple-store {
        width: 179px;
        height: 61px;
        display: block;
        justify-content: center;
        border-radius: 13px;
        border: none;
    }

    .btn-apple-store img {
        width: 106px;
        height: 24px;
    }

    .btn-play-store {
        width: 178px;
        height: 60px;
        display: block;
        justify-content: center;
        border-radius: 13px;
        border: none;
    }

    .btn-play-store img {
        width: 118px;
        height: 25px;
    }

    /* cads da direita */
    .cards-sec-1 img {
        width: 335px;
        height: auto;
        display: block;
    }

    /* FOOTER 1 */
    .footer-1 {
        display: flex;
        width: 375px;
        height: auto;
        align-items: center;
        justify-content: center;
        padding-bottom: 83px;
        background-color: var(--bg-header-sec1-footer1);
    }

    .container-footer {
        width: 335px;
        height: 112px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
        gap: 24px;
    }

    .title-footer p {
        width: 270px;
        height: 28px;
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 27px;
        letter-spacing: -0.09px;
        color: var(--color-h1);
    }

    .container-logos {
        width: 335px;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        gap: 24px;
    }

    .stripe {
        width: 42px;
        height: 18px;
        order: 1;
    }

    .orfium {
        width: 90px;
        height: 18px;
        order: 2;
    }

    .kinsta {
        width: 89px;
        height: 17px;
        order: 3;
    }

    .nowports {
        width: 103px;
        height: 17px;
        order: 4;
    }

    .bankable {
        width: 79px;
        height: 17px;
        order: 5;
    }

    /* SECTION 2 */
    .section-2 {
        width: 375px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px 20px 64px;
        gap: 64px;
    }

    .container-sec-2 {
        width: 335px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 52px;
    }

    .title-sec-2 {
        width: 335px;
        height: 32px;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .title-sec-2 h1 {
        width: 335px;
        height: 32px;
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -1.824px;
        color: var(--color-h1);
    }

    .container-cards {
        width: 335px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 28px;
    }

    .container-mini-cards {
        width: 335px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 28px;
    }

    .container-mini-card-cima {
        width: 335px;
        height: 661px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 29px;
    }

    .mini-card-1 {
        width: 335px;
        height: 316px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 40px 65px 20px;
        border-radius: 24px;
        background-color: var(--bg-cards);
        box-shadow: var(--box-shadow);
    }

    .mini-card-1 h1 {
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        align-items: center;
        text-align: center;
        color: var(--color-h1);
    }

    .mini-card-1 p {
        width: 277px;
        height: 81px;
        text-align: center;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        color: var(--color-p-sec2);
    }

    .mini-card-2 {
        width: 335px;
        height: 316px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 54px;
        gap: 28px;
        border-radius: 24px;
        background: var(--bg-cards);
        box-shadow: var(--box-shadow);
    }

    .mini-card-2 h1 {
        width: 237px;
        height: 34px;
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 34px;
        align-items: center;
        text-align: center;
        color: var(--color-h1);
    }

    .mini-card-2 p {
        width: 299px;
        height: 81px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        align-items: center;
        text-align: center;
        color: var(--color-p-sec2);
    }

    .container-mini-card-baixo {
        width: 335px;
        height: 660px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 29px;
    }

    .mini-card-3 {
        width: 335px;
        height: 316px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 87px;
        gap: 19px;
        border-radius: 24px;
        background: var(--bg-cards);
        box-shadow: var(--box-shadow);
    }

    .mini-card-3 h1 {
        width: 193px;
        height: 32px;
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 400;
        font-size: 23px;
        line-height: 32px;
        align-items: center;
        text-align: center;
        color: var(--color-h1);
    }

    .mini-card-3 p {
        width: 233px;
        height: 81px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 27px;
        align-items: center;
        text-align: center;
        color: var(--color-p-sec2);
    }

    .mini-card-4 {
        width: 335px;
        height: 316px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 69px;
        gap: 16px;
        border-radius: 24px;
        background: var(--bg-cards);
        box-shadow: var(--box-shadow);
    }

    .mini-card-4 h1 {
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        align-items: center;
        text-align: center;
        color: var(--color-h1);
    }

    .mini-card-4 p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        align-items: center;
        text-align: center;
        color: var(--color-p-sec2);
    }

    .big-card {
        width: 335px;
        height: 575px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px 65px;
        border-radius: 24px;
        background: var(--bg-cards);
        box-shadow: var(--box-shadow);
    }

    .big-card h1 {
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 34px;
        align-items: center;
        text-align: center;
        padding-bottom: 22px;
        color: var(--color-h1);
    }

    .big-card p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 27px;
        align-items: center;
        text-align: center;
        padding-bottom: 85px;
        color: var(--color-p-sec2);
    }



    /* SECTION 3 */

    .section-3 {
        width: 375px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 96px 0px 64px;
    }

    .container-sec-3 {
        width: 335px;
        height: auto;
        border-radius: 26px;
        background-color: var(--bg-cards);
        box-shadow: var(--box-shadow);
    }

    .container-text-btn {
        width: 295px;
        height: 350px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        margin-top: 50px;
        margin-left: 32px;
        margin-bottom: 0;
    }

    .container-text {
        width: 295px;
        height: 268px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;

    }

    .title-sec-3 {
        width: 295px;
        height: 64px;
        display: flex;
        flex-direction: column;
        margin-bottom: 24px;
    }

    .title-sec-3 h1 {
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        color: var(--color-h1);
    }

    .paragrafo {
        width: 295px;
        height: 180px;
        display: flex;
        align-items: center;
        padding-bottom: 32px
    }

    .paragrafo p {
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        color: var(--color-p-sec3);
    }

    .btn {
        width: 163px;
        height: 56px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px 26px 16px 28px;
        margin-bottom: 0;
        background: var(--bg-btn-singup-login-sec3);
        border-radius: 405px;
        gap: 20px;
        color: var(--color-text-btn);
    }

    .btn p {
        font-family: 'Satoshi';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }

    .muda-cor-setinha {
        fill: var(--bg-body);
    }

    .container-img-sec-3 img {
        margin-top: 64px;
    }

    /* FOOTER 2 */
    .footer-2 {
        width: 375px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 0;
        gap: 64px;
        background-color: var(--bg-body);
    }

    .container-footer-2 {
        width: 337px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 40px;
        gap: 32px;
    }

    .container-2 {
        width: 337px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
    }

    .container-cadena {
        padding: 40px 120px 48px;
        order: 1;
    }

    .redes-sociais {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-top: 1px solid #A0AEC0;
        padding: 32px 125px 24px;
        gap: 24px;
        order: 2;
    }

    .rede-social {
        fill: var(--fill-color-redes-sociais-mobile);

    }

    .copyright {
        width: 303px;
        height: 48px;
        text-align: center;
        order: 3;
    }

    .copyright p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: var(--color-h1);
    }
}